# Klinik_Bew_Reinigung

In [1]:
import pandas as pd

In [2]:
df_all = pd.read_csv('csv/merged_all.csv')

In [3]:
# Print data types of DataFrame
df_all.dtypes

Bewertung_ID             int64
Klinik_ID                int64
Name_Klinik             object
Fach_Bereich            object
Titel                   object
Bewertung_Datum         object
Textuelle_Bewertung     object
Gesamte_Sterne           int64
Qualitaet                int64
Behandlung               int64
Verwaltung               int64
Gestaltung             float64
dtype: object

In [4]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3005 entries, 0 to 3004
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bewertung_ID         3005 non-null   int64
 1   Klinik_ID            3005 non-null   int64
 2   Name_Klinik          3005 non-null   object
 3   Fach_Bereich         3003 non-null   object
 4   Titel                2998 non-null   object
 5   Bewertung_Datum      3005 non-null   object
 6   Textuelle_Bewertung  2957 non-null   object
 7   Gesamte_Sterne       3005 non-null   int64
 8   Qualitaet            3005 non-null   int64
 9   Behandlung           3005 non-null   int64
 10  Verwaltung           3005 non-null   int64
 11  Gestaltung           1750 non-null   float64
dtypes: float64(1), int64(6), object(5)
memory usage: 281.8+ KB

In [6]:
df_all.describe()

,Bewertung_ID,Klinik_ID,Gesamte_Sterne,Qualitaet,Behandlung,Verwaltung,Gestaltung
count,3005.000000,3005.000000,3005.000000,3005.000000,3005.000000,3005.000000,1750.000000
mean,97.957737,12.218636,3.706489,4.045923,4.045923,3.679867,3.746286
std,92.142416,6.037592,2.643556,2.505232,2.505232,2.359221,2.160955
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.000000,7.000000,0.000000,2.000000,2.000000,2.000000,2.000000
50%,72.000000,13.000000,6.000000,6.000000,6.000000,4.000000,4.000000
75%,131.000000,17.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,462.000000,24.000000,6.000000,6.000000,6.000000,6.000000,6.000000

In [7]:
df_all["Bewertung_Datum"] = pd.to_datetime(df_all["Bewertung_Datum"], infer_datetime_format=True)

In [8]:
#df_all["Gestaltung"].astype('int32')

In [9]:
df_all.isna().sum()

Bewertung_ID              0
Klinik_ID                 0
Name_Klinik               0
Fach_Bereich              2
Titel                     7
Bewertung_Datum           0
Textuelle_Bewertung      48
Gesamte_Sterne            0
Qualitaet                 0
Behandlung                0
Verwaltung                0
Gestaltung             1255
dtype: int64

In [ ]:
df_all.loc[df_kliniklist['Link Klinikbewertungen']==ref_value]['Klinikname'].to_string().split(" ", 1)[1].lstrip()

In [37]:
df_all.tail(10)

,Bewertung_ID,Klinik_ID,Name_Klinik,Fach_Bereich,Titel,Bewertung_Datum,Textuelle_Bewertung,Gesamte_Sterne,Qualitaet,Behandlung,Verwaltung,Gestaltung
2995,68,9,Sophienklinik Hannover,Orthopädie,Meniskus-OP,2009-05-18,In der Woche vor der OP durch einen Belegarzt ...,4,4,4,4,NaN
2996,69,9,Sophienklinik Hannover,Chirurgie,in keinster Weise empfehlenswert,2009-03-23,"Ich kam im Januar in die Sophienklinik, da mei...",0,0,0,0,NaN
2997,70,9,Sophienklinik Hannover,Kardiologie,Kardiologischer Befund,2009-02-01,Das Klinikgebäude ist innen und außen in einem...,2,4,4,4,NaN
2998,71,9,Sophienklinik Hannover,Chirurgie,Gute Erfahrungen!!!,2008-03-29,Aufgenommen (ambulant) wurde ich morgens nach ...,4,6,6,4,NaN
2999,72,9,Sophienklinik Hannover,Innere,Sophien-Klinik eher Mittelmaß,2007-10-04,Das Essen war mal gut mal schlecht.\nDas Perso...,2,4,4,2,NaN
3000,73,9,Sophienklinik Hannover,Chirurgie,dilettantenstadl,2007-08-19,das 60´er jahre- flair wirkt nicht einladend. ...,0,2,2,0,NaN
3001,74,9,Sophienklinik Hannover,Innere,"Als Kassenpatientin auch hilfreich, aber irgen...",2007-08-11,"Als Kassenpatientin in einem 5 Bett Zimmer, wa...",2,2,2,2,NaN
3002,75,9,Sophienklinik Hannover,Innere,Für Privatpatienten sicher gut geeignet! Kasse...,2007-08-11,"Ich war da mal als Privatpatientin, es ist abe...",4,4,4,4,NaN
3003,76,9,Sophienklinik Hannover,Handchirurgie,Die schlechteste Klinik in Hannover überhaupt!!!,2007-02-08,NaN,0,0,0,0,NaN
3004,77,9,Sophienklinik Hannover,Gastrologie,es geht also auch anders!,2006-04-29,"Wir waren angenehm überrascht von dem Tempo, d...",6,4,4,6,NaN

In [26]:
df_all["Gestaltung"].isin([0]).sum()

302